<%== form_tag "/reword" do %>

  <div class="row">
    <div class="text-center">
      <div>
        <%= image_tag("ReWord_logo_small.jpg", alt: "ReWord")%>
      </div>
     <h1 >About  ReWord</h1>
    </div>
  </div><!-- ends header div -->
  <div class="row">
    <div class="span4">
      <h2>What is ReWord?</h2>
      <p>Enter the sentence you want to change to the right.  Then press ReWord and the ReWorded text will show up in the far right box. Have fun!</p>
      <p><a href="/login">Login</a> or <a href="/register">Register</a> to add words to the dictionary.
      </p>
    </div>
    <div class="span4">
      <h2>About ReWord</h2>
    </div>
    <div class="span4">
      <h2>Get Started Today</h2>
      <p>Click <a href="/index">Here</a> to start rewording sentences!</p>
    </div>
  </div><!-- ends body div -->
  
<% end %>