<%== form_tag "/reword" do %>

  <div class="row">
    <div class="text-center">
      <div>
        <%= image_tag("ReWord_logo_small.jpg", alt: "ReWord")%>
      </div>
     <h1 >About  ReWord</h1>
    </div>
  </div><!-- ends header div -->
  <div class="row">
    <div class="span12">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <div class="text-center">
        <h2>What is ReWord?</h2>
      </div>
      <p>Enter the sentence you want to change to the right.  Then press ReWord and the ReWorded text will show up in the far right box. Have fun!</p>
      <p>
        <a href="/login">Login</a> or <a href="/register">Register</a> to add words to the dictionary.
      </p>
    </div>
    <div class="span6">
      <div class="well">
        <div class="text-center">
          <h2>What is ReWord?</h2>
        </div>
        <p>Enter the sentence you want to change to the right.  Then press ReWord and the ReWorded text will show up in the far right box. Have fun!</p>
        <p>
          <a href="/login">Login</a> or <a href="/register">Register</a> to add words to the dictionary.
        </p>
      </div>
    </div>
  </div><!-- ends body div -->
  
<% end %>