<div class="container">
  <div class="text-center">
    <h3>Welcome INSERT NAME HERE</h3>

    <p>Please choose either the Admin view or the Scholar view:
      <div class="well">
          <%= link_to "Admin", admins_path %><br>
          <%= link_to "Reword", reword_path %>
      </div>
    </p>
  </div>
</div>