<div>
	<h1>Welcome to ReWord</h1>
<!-- ends header -->


  <div class="col-md-4">.col-md-4
  	<p><%== text_area_tag "input" %><br>
			<%== submit_tag "ReWord" %>	
		</p>
	</div><!-- ends div class -->
  <div class="col-md-4">
  	<p><%== text_area_tag "output" %><br>
			<%== submit_tag "Try Again" %>
		</p>
  </div><!-- ends div class -->
  <div class="col-md-4">Login screen goes here</div><!--ends div class -->
<!-- ends body -->

</div>