  <div class="row">
    <div class="span12 text-center">
     <h1>Welcome to ReWord</h1>
     <h4>The innovative text manipulator! If you just can't figure out a synonym to use, let ReWord help you. Just enter the sentence you want to change and press go. <a href="/login">Login</a> to add words to the dictionary.</h4>
    </div>
  </div><!-- ends header div -->
  <div class="row">
    <div class="span4">
    </div>
    <div class="span4">
      <h1>Register</h1>
  		<p>
  			<b>Username:</b><br>
  			<%== text_field_tag "username" %>
  			<br>
  			<b>Password:</b><br>
  			<%== password_field_tag "password" %>
  			<br>
  			<b>Confirm Password:</b><br>
  			<%== password_field_tag "password_confirmation" %>
  		<p>
  			<%== submit_tag "Sign Up" %>
  		</p>
    </div>
    <div class="span4">
    	<p>Already have an account? <a href ="/login">Login</a>!
      </p>
    </div>
  </div><!-- ends body div -->
