  <div class="row">
    <div class="span12 text-center">
     <h1 >Welcome to ReWord</h1>
     <h4>The innovative text manipulator! SDKFHALKF:ADJF:SLDKJF:ALDJF:ALDFJ:SLDKFJKDGHALHEWSDFSDFLKJEWRSLKJDF. asldkfjas;dlkfj. </h4>
    </div>
  </div><!-- ends header div -->
  <div class="row">
    <div class="span4">
      <h4>Please enter the sentence you want to change to the right.  Then press ReWord and the ReWorded text will show up in the far right box. Have fun!</h4>
    </div>
    <div class="span4">
      <p><%== text_area_tag "input" %><br>
        <%== submit_tag "ReWord" %> 
      </p>
    </div>
    <div class="span4">
      <p><%== text_area_tag "ouput" %><br>
        <%== submit_tag "Try Again" %>
      </p>
    </div>
  </div><!-- ends body div -->